.sound{
   font-size: 10px; 
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
     font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;
}


.apple{
width:100%;max-width:660px;overflow:hidden;background:transparent;
}

.pod_card_text{
   font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
}

.c9 {
padding: 0 !important;
}